.pokemon-info__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-info__name {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.pokemon-info__id {
  margin-top: 0;
  margin-bottom: 40px;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  color: #6e7177;
}

.pokemon-info__status {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.pokemon-info__image {
  width: 30%;
  padding-top: 30%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 10px;
}

@media (max-width: 720px) {
  .pokemon-info__wrapper {
    flex-direction: column;
  }

  .pokemon-info__name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .pokemon-info__id {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .pokemon-info__status {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .pokemon-info__image {
    width: 250px;
    padding-top: 250px;
  }
}
