.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  width: 100%;
  margin: 0 auto;

  background-color: #252A34;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #F9F7F7;
}

.header__link {
  text-decoration: none;
  color: #F9F7F7;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.7;
}

.header__title {
  box-sizing: border-box;
  padding: 7px;

  margin: 0;

  border: 2px solid #F9F7F7;
  border-radius: 6px;

  font-size: 38px;
  font-weight: bold;
  line-height: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 1100px) {
  .header__title {
    margin: 0 auto 20px;
    font-size: calc((100vw - 320px)/(1100 - 320) * (38 - 16) + 16px);
  }
}

@media (max-width: 720px) {
  .header__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 319px) {
  .header__title {
    margin: 0 auto 20px;
    font-size: 16px;
  }
}
