.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  margin: 0 auto;

  background-color: #252A34;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #F9F7F7;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
